.heading {
    color: #333 !important;
}
.channelList{

    background-color: rgba(238, 238, 238, 0.486);
}
.imageBox {
    width: 250px;
    margin: 10px;
    cursor: pointer;
}


.imageBox img {
    width: 100%;
}