.programInfo {
    cursor: pointer;
}
.programInfo:hover{
    background-color: rgba(238, 238, 238, 0.486);
}

.programImgBox {
    width: 100px;
    height: 100px;
    flex-shrink: 0;
    margin-right: 10px;

}

.programImgBox img {
    width: 100%;
    height: auto;
}

