.channelDetails {
    background-color: #333;
    background-color: white;
   
}

.wrapper {
    color: #ffffff;
}
.detailsHeader {
   background-color: #333; 
   
}
.channelInfo {
 display: flex;
 flex-direction: column;
 align-items: center;
}
.schedAndProgBlock {
    color: #333;
}

.channelImgBox {
    width: 200px;
    height: 200px;
}

.channelImgBox img {
    width: 100%;
    height: auto;
}
.channelTagline{
    margin: 20px 10px;
}

.btnChooseComp {
    margin-right: 10px;
    padding: 8px 20px;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    border-radius: 200px;
    background-color: transparent;
    color: #BBE42A;
    border: 1px solid #BBE42A;
    cursor: pointer;
    transition: all 0.2s;

}


.btnChooseComp:hover {
    background-color: #BBE42A;
    color: #333;
}


@media (min-width: 768px) {
    .channelInfo {
        flex-direction: row;
        justify-content: center;
        padding: 0 0 20px 20px;
    }
    .channelImgBox {
        flex-shrink: 0;
    }
}

@media (min-width: 1200px) {
    .channelInfo {
        padding: 0;
        padding-bottom: 20px;
    }
}