

.brandBox {
    width: 100px;
    display: flex;
    align-items: center;
}

.brandLogo {
    width: 100%;
}
.brandName {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 400;
    color: #333;
}
.navbar ul {
    list-style: none;
    display: flex;
    margin-bottom: 0;
}
.navbar li a{
    display:inline-block;
    text-decoration: none;
    padding: 0 0.4rem;
    color: #333;
    font-size: 1.5rem;
}

.navbar li a:hover, 
.navbar li a.active{
    color: #BBE42A;
    text-decoration: underline;
}


@media (min-width: 576px) {
    .brandBox {
        width: 150px;
        
    }
    
    .navbar li a {
        padding: 0.5rem;
    }

}

@media (min-width: 1200px) {
    .navbar {
        margin: 0 auto;
    }
}
