body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  text-transform: uppercase;
  font-weight: 300 !important;
  font-size: 30px !important; 
  text-align: center;
  margin: 0;
  padding: 20px 0;
  color: #BBE42A;
}

h2 {
  margin-bottom: 0 !important;
}